

<!DOCTYPE html>
<html>
<head>
<title>Math Tutoring Site</title>
</head>
<body>
<h1>Math Tutoring Site</h1>
<nav>
<a href="/">Home</a>
<a href="/topics">Topics</a>
<a href="/contact">Contact</a>
</nav>
<main>
<h1>Welcome to the Math Tutoring Site!</h1>
<p>This site provides free math tutoring for students of all ages. We offer a variety of resources, including:</p>
<ul>
<li>Video tutorials</li>
<li>Practice problems</li>
<li>Quizzes</li>
<li>Articles</li>
</ul>
<p>We hope you find this site helpful! If you have any questions, please don't hesitate to contact us.</p>
</main>
</body>
</html>


