

<!DOCTYPE html>
<html>
<head>
<title>Math Tutoring Site - Messaging</title>
</head>
<body>
<h1>Math Tutoring Site - Messaging</h1>
<form action="/messaging" method="post">
<label for="recipient">Recipient:</label><br>
<input type="text" id="recipient" name="recipient"><br>
<label for="subject">Subject:</label><br>
<input type="text" id="subject" name="subject"><br>
<label for="message">Message:</label><br>
<textarea id="message" name="message"></textarea><br><br>
<input type="submit" value="Send Message">
</form>
</body>
</html>


