

<!DOCTYPE html>
<html>
<head>
<title>Math Tutoring Site - Tutoring Session</title>
</head>
<body>
<h1>Math Tutoring Site - Tutoring Session</h1>
<form action="/tutoring_session" method="post">
<label for="name">Name:</label><br>
<input type="text" id="name" name="name"><br>
<label for="subject">Subject:</label><br>
<input type="text" id="subject" name="subject"><br>
<label for="time">Time:</label><br>
<input type="time" id="time" name="time"><br><br>
<input type="submit" value="Start Session">
</form>
</body>
</html>


